.hero {
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
    border: 1px solid rgba(10, 44, 60, 1);
}

.hero-cards {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.hero-cards .card {
    background-color: rgba(10, 44, 60, 0.8);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #fff5e1;
    border-radius: 10px;
    padding: 1.2vw;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.hero-cards .card:hover {
    background-color: rgba(10, 44, 60, 0.9);
}

.card .card-icon {
    color: #fff5e1;
    font-size: 2vw;
    transition: scale 0.3s ease;
}

.hero-cards .card:hover .card-icon {
    scale: 1.3;
}

.card .card-content {
    color: #fff5e1;
    font-size: 1.3vw;
}

.hero-cards .card:hover .card-content span {
    color: #f89715;
}

.card .card-content span {
    transition: color 0.3s ease;
}

.card-content .card-header {
    margin: 0;
}

@media screen and (max-width: 480px) {
    .hero {
        padding: 2vw;
    }
    .hero .card{
        padding: 4vw;
    }
    .card .card-content {
        font-size: 3.5vw;
    }
    .card .card-icon {
        font-size: 5vw;
    }
}