.card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    /* height: 100vh; */
    border: none;
    background-color: lightgray;
    padding-bottom: 10px;
    margin: 5px 15px;

}

.card-img {
    width: 250px;
    height: 150px;
}

.card-icon {
    font-size: 30px;
    color: red;
}

.hakkimizda-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.hakkimizda-container h1,
.hakkimizda-container h2 {
    color: #333;
}

.hakkimizda-container p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    text-align: justify;
}

.about-baslik {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.about-img {
    /* border-radius: 50%; */
}

/* Content css */
.content-item {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    text-align: justify;
}

.content-center {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content-center-box1 {
    width: 60%;

}

.content-center-box1 p,
h3,
table {
    padding: 0 50px;
}

.content-center-box2 {
    width: 440px;
    height: 100vh;
    position: relative;
    flex-wrap: wrap;
    margin-left: 20px;
    text-align: center;
}

.box-img {
    height: 65vh
}



.img1 {
    position: absolute;
    top: 0px;
    left: 140px;
    box-shadow: 5px 5px 15px rgb(124, 104, 104);
}

.img2 {
    position: absolute;
    top: 140px;
    left: 0px;
    box-shadow: 5px 5px 15px rgb(124, 104, 104);
    opacity: inherit;
}

.yan-ul {
    color: #0a2c3c;
}

.yan-ul li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: bold;
    color: #0a2c3c;
}

.yan-ul li:hover {
    color: rgb(252, 166, 6);
    font-weight: bold;

}

.TeklifBtn {
    padding: 12px 20px;
    background-color: #f89715;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(248, 151, 21, 0.5);
    color: #fff;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}

.TeklifBtn:hover {
    background-color: #e08510;
    box-shadow: 0 6px 12px rgba(224, 133, 16, 0.7);
    font-weight: bold;
}

.content-center-box1 ul,
ol {
    /* padding-left: 100px ; */
    padding: 0 50px 0 100px;

}

.content-center-box1 ol li {
    list-style-type: upper-roman;
    padding: 0px 10px;

}

.content-center-box1 ul li {
    list-style-type: disc;
    padding: 5px 15px;
}

.ref-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}