.card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border: none;
    background-color: lightgray;
    padding-bottom: 10px;
    margin: 5px 15px;
}

.card-img {
    width: 250px;
    height: 150px;

}

.card-icon {
    font-size: 30px;
    color: red;
}

.hakkimizda-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.hakkimizda-container h1,
.hakkimizda-container h2 {
    color: #333;
}

.hakkimizda-container p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

.about-baslik {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.about-img {
    border-radius: 10px;
}