.contact {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map-tn {
    width: 100%;
    max-width: 600px;
    margin: 5vw auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

@media screen and (max-width:480px) {
    .contact {
        width: 90%;
        margin: 6vw auto;
    }
}