.service-container {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 5vw;
}

.service {
    width: 100%;
    margin: 2vw auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    text-align: center;
}

.service h2 {
    font-size: 2em;
    color: #0a2c3c;
}

.service p {
    margin-bottom: 1em;
    color: #555;
    line-height: 1.5;
}

.service .service-carts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2em;
    row-gap: 2em;
}

.service-carts .service-cart {
    height: 280px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

.service-carts .service-cart:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.service-cart img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    object-position: top;
}

.service-cart .service-content {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
}

.service-carts .service-cart .icon {
    opacity: 0;
    display: flex;
    align-items: center;
    font-size: 2.2em;
    margin-left: 1em;
    color: #f89715;
    transition: all 0.5s ease-out;
}

.service-carts .service-cart:hover .icon {
    margin-left: 2em;
    opacity: 1;
}

.service-carts .service-cart .service-title {
    font-size: 1.1em;
    color: #555;
    letter-spacing: 0.3px;
    font-weight: 600;
}

.service .service-btns {
    margin-top: 2vw;
    width: 100%;
    display: flex;
    gap: 1vw;
}

.service-btns .motion-link-wrapper {
    width: 100%;
}

.service-btns .service-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 5vw;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 1.8em;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: font-size 0.3s ease-in-out;
}

.service-btns .service-btn1 {
    background-color: #f89715;
}

.service-btns .service-btn2 {
    background-color: #0a2c3c;
}

.service-btns .service-btn:hover {
    font-size: 2em;
}

@media screen and (max-width:480px) {
    .service-container {
        width: 90%;
        margin: 5vw auto;
    }

    .service h2 {
        margin-bottom: 1vw;
    }

    .service p {
        margin-bottom: 5vw;
        color: #555;
        line-height: 1.5;
    }

    .service-carts .service-cart {
        height: 180px;
    }

    .service .service-carts {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 0.8em;
        row-gap: 1em;
    }

    .service-cart .service-content {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .service-carts .service-cart .icon {
        display: none;
    }

    .service-carts .service-cart .service-title {
        font-size: 0.8em;
    }

    .service .service-btns {
        margin-top: 1em;
        gap: 1em;
    }

    .service-btns .service-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        font-size: 1.2em;
    }
}