.navbar-links {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.navbar-links>div {
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-links .navbar-mail {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    margin-left: 10px;
    color: #0a2c3c;
    cursor: pointer;
}

.navbar-mail .mail-icon {
    margin-top: 4px;
    font-size: 1.2em;
}

.navbar-links .navbar-socialLinks {
    display: flex;
    gap: 30px;
}

.navbar-socialLinks a {
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2em;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.navbar-socialLinks a:hover {
    border: 1px solid #f89715;
    color: #f89715
}

/* Alt navbarın stilleri*************************************************/
.navbar-container {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #0a2c3c;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 80px;
    color: #0a2c3c;
    background-color: #f8f9fa;
}

.navbar-logo {
    flex: 1.5;
    flex-basis: 1;
    height: 100%;
    display: flex;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    background: #0a2c3c;

}

.navbar-logo img {
    width: 70px;
    height: auto;
    margin-right: 10px;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-text span:first-child {
    font-weight: bold;
    font-size: 1.2em;
    color: #f8f9fa;
}

.logo-text span:last-child {
    font-size: 0.9em;
    color: #f89715;
}

.navbar-icon {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
}

.navbar-menu {
    height: 100%;
    flex: 3;
    flex-basis: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    height: 100%;
    gap: 2em;
}

.nav-item {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    gap: 5px;
    font-size: 1em;
    font-weight: bold;
}

.nav-item i {
    margin-top: 5px;
}

.nav-item.active-item::after {
    content: " ";
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #f89715;
    opacity: 1;
}

.nav-item::after {
    content: " ";
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #f89715;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-item:hover::after {
    opacity: 1;
}


.dropdown-menu {
    width: 180px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    background-color: #f8f9fa;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.dropdown-menu li {
    padding: 12px;
    font-size: 0.9em;
    transition: all 0.2s ease;
}

.dropdown-menu-item {
    width: 100%;
    height: 100%;
}

.dropdown-menu li:hover {
    color: #f8f9fa;
    background-color: #0a2c3c;
}

.dropdown-menu .dropdown-menu-item {
    display: block;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.navbar-btn {
    margin: 0;
    flex: 0.6;
    flex-basis: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
    background: #0a2c3c;
    border: none;
    outline: none;
}

.navbar-btn .teklif-btn {
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: #f89715;
    color: #fff;
    font-size: 1em;
    box-shadow: 0 0 10px #f89715;
    cursor: pointer;
    transition: all 0.1s ease;
    font-size: 1.05em;
}

.navbar-btn .teklif-btn:hover {
    box-shadow: 0 0 15px #f89715;
    background-color: #e08510;
}

@media screen and (max-width:960px) {
    .navbar-links {
        display: none;
    }

    .navbar-container {}

    .navbar{
        background-color: #0a2c3c;
    }

    .navbar-logo {
        clip-path: none;
    }

    .navbar-container .logo-text {
        display: none;
    }
    .nav-item.active-item::after {
        display: none;
    }

    .navbar-menu{
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: #f8f9fa50;
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0,1);
    }
    .nav-items{
        flex-direction: column;
        width: 300px;
    }

    .nav-item{
        font-size: 1.5em;
    }
    .navbar-btn {
        display: none;
    }

    .navbar-icon {
        display: block;
        color: #f8f9fa;
    }
}

@media screen and (max-width:768px) {
    .navbar-links {
        display: none;
    }

    .navbar-container {
        /* display: none; */
    }
}