.info-container{
    width: 75%;
    margin: 5vw auto;
    display: flex;
    align-items: stretch;
    padding: 0;
    gap:2vw;
}

.info {
    flex: 1;
    margin:0 8vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-radius: 10px;
    gap: 1vw;
}

.info h3 {
    color: #0a2c3c;
    letter-spacing: 0.5px;
    font-size: 1vw;
}

.info .hesapla {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    border: 1px solid #0a2c3c;
    padding: 2vw;
    border-radius: 8px;
}

.hesapla p{
    font-size: 0.7vw;
}

.hesapla p::after,
.hesapla p::before{
    content: "***";
    margin: 0 5px;
    color: #f89715;
}

.hesapla .inputs {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.hesapla .input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hesapla .input select,
.hesapla .input input {
    width: 8vw;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 0.8vw;
}

.hesapla .input select:focus {
    border: 1px solid #f89715;
    outline: 1px solid #f89715;
}

.hesapla .input input:focus {
    border: 1px solid #f89715;
    outline: 1px solid #f89715;
}

.hesapla .inputs label {
    font-size:1vw;
}

/* tablo styles*/
.info .tablo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid #0a2c3c;
    padding: 1.5vw;
    border-radius: 8px;
}

.tablo .tablo-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    padding: 5px 10px;
}

.tablo-items .tablo-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vw 0;
    border-bottom: 1px solid #f89715;
    font-size: 0.8vw;
}

.info .info-links{
    border: 2px solid #f89715;
    border-radius: 8px;
    margin-top: 20px;
    padding:20px;
}

.info-links p{
    font-size: 0.8vw;
}

.info-links .info-teklif{
    padding: 0.5vw 1vw;
    background-color: #f89715;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(248, 151, 21, 0.5);
    color: #fff;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 10px;
}

.info-links .info-teklif:hover{
    background-color: #e08510;
    box-shadow: 0 6px 12px rgba(224, 133, 16, 0.7);
    font-weight: bold;
}

.info-links .info-contact{
    color: #f89715;
    font-weight: bold;
    margin: 0 5px;
}

.info-links .info-contact:hover{
    text-decoration: underline;
}
