.swiper {
    width: 75%;
    height: 30vw;
    margin: 5vw auto;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #b13030;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: top;
  }