.about-container {
    width: 50%;
    margin: 5vw auto;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.about-header {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.about-header h1{
    display: flex;
    flex-direction: column;
}

.about-header h1 span{
    color: #f89715;
}

.about-header .about-img {
    background-color: #0a2c3c;
    border-radius: 50%;
}

.about-header img {
    width: 100px;
}

.about-content p {
    line-height: 1.4;
    text-align: justify;
}

@media screen and (max-width:960px) {
    .about-container {
        width: 90%;
    }
    
    .about-header {
        flex-direction: column;
    }
    
    .about-header h1{
        font-size:2em;
        text-align: center;
        gap: 5px;
    }

    .about-header h1 span{
        font-size: 1.6em;
    }
    
    .about-header img {
        width: 90px;
    }
    
    .about-content p {
        text-align: left;
        font-size: 1.3em;
    }
}
@media screen and (max-width:480px) {
        
    .about-header h1{
        font-size:1.6em;
    }

    .about-header h1 span{
        font-size: 1.4em;
    }
    
    .about-header img {
        width: 80px;
    }
    
    .about-content p {
        font-size: 1em;
    }
}