.about-container {
    width: 50%;
    margin: 5vw auto;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.about-header {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.about-header h1{
    font-size: 2vw;
}

.about-header .about-img {
    background-color: #0a2c3c;
    border-radius: 50%;
}

.about-header img {
    width: 5vw;
}

.about-content p {
    font-size: 1vw;
    letter-spacing: 0.5px;
    line-height: 1.5;
    text-align: justify;
}