.header {
    width: 100%;
    color: #3f3e3e;
    margin: 5vw auto;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 75%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4vw;
}

.header-content {
    flex: 1;
    border: 1px solid rgba(10, 44, 60, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.header-content h1 {
    margin-bottom: 0.2em;
}

.header-content h1 span {
    font-weight: 900;
}

.header-content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 1.5em;
}

.header-btn {
    background-color: #f89715;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.header-btn:hover {
    background-color: #e08510;
}

.header-links {
    flex: 1;
}

@media screen and (max-width: 768px) {
    .header {
        width: 80%;
        margin: 0 auto;
        padding: 3rem 0;
    }

    .header-container {
        width: 100%;
        flex-direction: column;
    }

    .header-content {
        padding: 1em ;
    }

    .header-content h1 {
        font-size: 2em;
    }

    .header-content p {
        font-size: 1.2em;
        line-height: 1.4;
    }

    .header-btn {
        font-size: 1.2em;
        padding: 12px 15px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        width: 85%;
        margin: 0 auto;
        padding: 2rem 0;
    }

    .header-container {
        width: 100%;
        flex-direction: column;
    }

    .header-content {
        padding: 1em ;
    }

    .header-content h1 {
        font-size: 1.6em;
    }

    .header-content p {
        font-size: 1em;
        line-height: 1.4;
    }

    .header-btn {
        font-size: 1em;
        padding: 12px 15px;
    }
}
