.header {
    width: 100%;
    color: #3f3e3e;
    margin: 5vw 0;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23f89715' fill-opacity='0.1' d='M0,224L60,234.7C120,245,240,267,360,272C480,277,600,267,720,224C840,181,960,107,1080,80C1200,53,1320,75,1380,85.3L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z'%3E%3C/path%3E%3C/svg%3E") center center no-repeat;
    background-size: cover;
}

.header-container {
    width: 75%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4vw;
}

.header-content {
    flex: 1;
    border: 1px solid rgba(10, 44, 60, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.header-content h1 {
    font-size: 2vw;
    margin-bottom: 1vw;
}

.header-content h1 span {
    font-weight: 900;
}

.header-content p {
    font-size: 1vw;
    line-height: 1.8;
    margin-bottom: 1.5vw;
}

.header-btn {
    background-color: #f89715;
    border: none;
    color: #ffffff;
    padding: 0.75vw 1.5vw;
    font-size: 1vw;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.header-btn:hover {
    background-color: #e08510;
}

.header-links {
    flex: 1;
}

@media screen and (max-width: 480px) {
    .header {
        width: 90%;
        margin: 0;
        padding: 2rem;
    }

    .header-container {
        width: 100%;
        flex-direction: column;
    }


    .header-content {
        padding: 1vw 3vw;
    }

    .header-content h1 {
        font-size: 5vw;
    }

    .header-content p {
        font-size: 3vw;
        line-height: 1.5;
    }

    .header-btn {
        padding: 2vw 2.5vw;
        font-size: 3vw;
        margin: 3vw 0;
    }
}